name: 'CI checks'

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'

      - run: npm ci
      - run: npm run test:src
      - run: npm run build
      - run: npx tsx is-clean.ts
